<div class="dialog-container">
  <div
    class="form-container mat-elevation-z5 text-center"
    *ngIf="user$ | async as user"
  >
    <h1>User Profile</h1>
    <div class="profile-img">
      <img
        width="120px"
        height="120px"
        [src]="user.photoURL ?? 'assets/img/profile_Pic_gray.png'"
      />
      <button mat-mini-fab (click)="inputField.click()"></button>
    </div>
    <input
      type="file"
      hidden
      #inputField
      (change)="uploadImage($event, user)"
    />
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button>Save</button>
  </div>
</div>
