.profile-img > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-img {
    margin-bottom: 24px;
    width: 150px;
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-img > button {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.dialog-container {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mat-dialog-container {
    padding: unset !important;
}
.close {
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}
.mat-mini-fab {
    background-color: #3f51b5;
}
form-container {
    max-width: 400px;
}

.row {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

p {
    margin-top: 24px;
    color: red;
}
