<mat-drawer-container class="mat-drawer-container">
  <mat-drawer #drawer class="sidenav-mat-drawer" mode="side" [opened]="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="header-container">
      <mat-toolbar-row class="header-content">
        <div class="header-left">
          <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
          <img class="header-logo" src="assets/favicons/favicon-96x96.png" />
          <span>Slack-Clone</span>
        </div>

        <div>
          <ng-container *ngIf="user$ | async as user; else loginButton">
            <button mat-button target="_blank" [matMenuTriggerFor]="userMenu">
              <img
                class="profile-img-toolbar"
                width="30"
                height="30"
                [src]="user.photoURL ?? 'assets/img/profile_Pic_gray.png'"
              />
              {{ user.displayName }}
              <mat-icon>expand_more</mat-icon>
            </button>
          </ng-container>
          <ng-template #loginButton>
            <a mat-button target="_blank" class="header-right">
              <mat-icon matSuffix>login</mat-icon>
            </a>
          </ng-template>
        </div>
      </mat-toolbar-row>
      <mat-menu #userMenu="matMenu">
        <button
          mat-menu-item
          routerLink="/login"
          (click)="authService.logout()"
        >
          <mat-icon class="menu-icon" matSuffix>logout</mat-icon>
          Logout
        </button>
        <button mat-menu-item (click)="openDialog()">
          <mat-icon class="menu-icon" matSuffix>account_circle</mat-icon> Profil
        </button>
      </mat-menu>
    </mat-toolbar>

    <app-main></app-main>
  </mat-drawer-content>
  <mat-drawer
    #thread
    class="sidenav-mat-drawer"
    mode="side"
    position="end"
    [opened]="threadService.opened"
  >
    <app-threat-bar></app-threat-bar>
  </mat-drawer>
</mat-drawer-container>
