.menuUserContainerOuter {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;

  .menuUserContainerInner {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }
  }

  .list {
    display: flex;
  }
}

.user-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 6px;
  margin-bottom: 6px;
}

.btn-user {
  background-color: transparent;
  border: unset;
  display: flex;
  align-items: center;
  font-size: medium;
  margin-left: 16px;
  &:hover {
    transform: scale(1.05);
    margin-left: 32px;
    cursor: pointer;
  }
  &:disabled {
    transform: unset;
    margin-left: 16px;
    cursor: auto;
  }
}

.profile-pic {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 5px;
}
