<div class="menuUserContainerOuter">
  <div class="menuUserContainerInner">
    <div class="left">
      <div>
        <button mat-icon-button (click)="seeDropdown()">
          <mat-icon *ngIf="dropdown">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="!dropdown">arrow_right</mat-icon>
        </button>
      </div>
      <div>Users</div>
    </div>
  </div>
  <div class="menuUserContainerList" [class.d-none]="!dropdown">
    <div class="list" *ngFor="let user of allUsers; let i = index">
      <div
        *ngIf="user$ | async as users"
        class="link user-box"
        (click)="openUser(i)"
      >
        <button class="btn-user" [disabled]="users.email === user.email">
          <img
            class="profile-pic"
            [src]="user.photoURL ?? 'assets/img/profile_Pic_gray.png'"
          />
          {{ user.displayName }}
        </button>
      </div>
    </div>
  </div>
</div>
